<!DOCTYPE html>
<html>
<head>
	<title>MYFLIX</title>
	<meta charset="UTF-8">
	<meta name="description" content="Information about movies">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
</head>
<body>
<header>
<h1>{{.Title}} movies</h1>
</header>
</body>
</html>