body {
    background-color: rgb(248, 248, 248);
}

h1 {
    font-size: 60px;
    color: #be5757;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.nav{
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    font-family: 'Work Sans', sans-serif;
    display:inline-block;
    padding:10px;
    color: rgb(19, 19, 19);
    font-size: 20px;
}